.cards-summary {
  display: flex;
  justify-content: space-around;
}
.card-summary-block {
  width: 20%;
}
.card-summary-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}
.card-summary-value {
  color: white;
}
.card-summary-value > h1,
.card-summary-value > h6 {
  margin: 0;
}
.card-summary-icon {
  color: rgba(0, 0, 0, 0.2);
}
.card-summary-footer {
  background: rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  display: flex;
  justify-content: center;
  color: white;
}
.card-summary-footer > h6 {
  text-align: center;
  margin: 0 10px;
}
